/* Base styling */

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(17 22 64);
    margin: 0;
    padding: 0;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    
}

.header p,a{
    color: white;
}
.header i{
    margin-top: 30px;
    position: relative;
    left: 20%;
    
}

.header .links {
    margin-right: 30px;
    margin-top: 30px;
    
}
.links a{
    padding-right: 10%;
}

.menu {
    display: none;
}

.header p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 50px;
    border: 2px rgb(100, 255, 218) solid;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    
}

.header a {
    color: rgb(100, 255, 218);
    font-weight: 600;
    text-decoration: none; /* Remove underline */
    padding-right: 60px;
    margin-top: 0;
    font-size: larger;
}

.text {
    color:rgb(100, 255, 218)  ;
    text-shadow: 0 0 10px rgba(83, 138, 170, 0.6), 0 0 20px rgba(83, 138, 170, 0.4), 0 0 30px rgba(83, 138, 170, 0.2);
}

.animated-text {
    display: inline-block;
    font-family: monospace;
    border-right: 2px solid #333;
    white-space: nowrap;
    color: rgb(100, 255, 218);
    font-weight: 700;
    overflow: hidden;
    font-size: x-large;
    animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}
.hero{
    display: flex;
    color: white;
  
    justify-content: space-around;
   margin-top: 8%;
   
}
.hero .text-content{
    margin-left: 5%;
}
.hero h2{
    margin-top: 50px;
}
.hero p{
    justify-content: right;
    width: 100%;
    margin-top: 50px;
    line-height: 200%;
    font-size: larger;
    
}
.text-content {
    max-width: 40%;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInFromLeft 1s forwards;
}



.hero img {
   
    height: 400px;
    width: 400px;
    margin-right: 5%;
    border: 2px solid rgba(83, 138, 170, 0.6); /* Border color set to purple */
    border-radius: 50%;
     /* Purple glow effect */
    position: relative;
    z-index: -1;
    animation: shine 2s infinite 2s; /* Apply the shine animation */
}

@keyframes shine {
    0% {
        box-shadow: none; /* Start with a small, centered shadow */
        
    }

   
    100%{
       box-shadow:  0 0 20px rgba(83, 138, 170, 0.8),  /* Increase blur to 20px */
         0 0 60px rgba(83, 138, 170, 0.6),  /* Increase blur to 60px */
    0 0 120px rgba(83, 138, 170, 0.4); /* Increase blur to 120px */ /* Center the shadow again with a larger spread */
    }
   
}





@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.hero .text-content button {
    padding: 15px;
    border-radius: 40px;
    font-size: medium;
    color: black;
    background-color:  rgb(100, 255, 218);
    
    transition: box-shadow 0.3s ease-in-out;
}

.hero .text-content button:hover {
    box-shadow: 0 0 10px  rgba(83, 138, 170, 0.6), 0 0 20px rgba(83, 138, 170, 0.4), 0 0 30px rgba(83, 138, 170, 0.2)
}

.btns{
    display: flex;
   
    
}

 .btn {
    
    padding: 15px;
    border-radius: 40px;
    margin-top: 8%;
    font-size: medium;
    text-decoration: none;
    border: 2px black solid;
    color: white;
    
    
    transition: box-shadow 0.3s ease-in-out;
}
.button{
    margin-top: 18px;
    margin-left: 5%;
}


 .btn:hover {
    box-shadow: 0 0 20px rgba(83, 138, 170, 0.8), 0 0 40px rgba(83, 138, 170, 0.6), 0 0 60px rgba(83, 138, 170, 0.2);
}
.About-me {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center; /* Optional: to center items vertically */
    margin-top: 8%;
}

.About-me img {
    height: 200px;
    border-radius: 100%;
    padding-top: 50px;
    margin-left: 8%;
    padding-bottom: 50px;
    opacity: 0;
    transform: translateX(50px);
    animation: slideInFromLeft 1s forwards;
    border: 5px solid  teal;
    box-shadow: 0 0 10px  rgba(83, 138, 170, 0.6), 0 0 20px rgba(83, 138, 170, 0.4), 0 0 30px rgba(83, 138, 170, 0.2);
}

.About-me .About-text {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    transform: translateX(50px);
    animation: slideInFromRight 1s forwards;
    font-size: larger;
}

h2.titulo{
    border: 1px solid teal;  
  box-shadow: 0px 0px 50px -8px teal;
  color: teal;
  text-shadow: 1px 1px 5px #000, 0 0 10px teal, 0 0 20px teal;
}
h2.titulo{
    border: 1px solid teal;  
  box-shadow: 0px 0px 50px -8px teal;
  color: teal;
  text-shadow: 1px 1px 5px #000, 0 0 10px teal, 0 0 20px teal;
}

h2.titulo{
    border: 1px solid teal;  
  box-shadow: 0px 0px 50px -8px teal;
  color: teal;
  text-shadow: 1px 1px 5px #000, 0 0 10px teal, 0 0 20px teal;
}
 
.container {
  width: 90%;
  padding:5%;
  margin: 0 auto; 
  overflow: hidden;
  margin-top: 10%;
  position: relative;
 
 
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1; /* Adjust the value to change visibility */
    z-index: 1;
  }
  .container > * {
    position: relative;
    z-index: 2;
  }
 

.container h1{
    text-align: center;
    color: rgb(100, 255, 218);
    text-shadow:0 0 10px rgba(83, 138, 170, 0.6), 0 0 20px rgba(83, 138, 170, 0.4), 0 0 30px rgba(83, 138, 170, 0.2);

}

.col {
  width: 23%;
  margin: 0 5%;
  margin-left: 18%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  
} 
/*.col { width:101%; }*/
.skill { 
  list-style:none; 
  
}
.skill .ml{
    height: 50px;
    width: 50px;
    right: 60px;
}
.skill .python{
    width: 70px;
    height: 50px;
    right: 70px;
}
.skill .csss{
    width: 60px;
    right: 60px;
}
.skill img{
    position: relative;
    width: 40px;
    top:25px;
    right: 50px;   
}
.skill .react{
    height: 60px;
    width: 80px;
    right: 70px;
}

.skill li { 
  margin-bottom:70px; 
  background:#030303; 
  height:6px; 
  border-radius:3px; 
  border-left:1px solid #111; 
  border-top:1px solid #111; 
  border-right:1px solid #333; 
  border-bottom:1px solid #333;  
}
.proj{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}
.proj-cont{
   
    border: 2px solid rgb(100, 255, 218);
    border-radius: 20px;
    padding: 10px;
    
}

.proj-cont h2{
    color: rgb(100, 255, 218);
}
.proj-cont .tech{
    padding-right: 5px;
}
.proj-cont .tech span{

    border: 2px solid rgb(17 22 64);
    background-color: rgb(26, 112, 112);
    border-radius: 6px;
    font-weight: bolder;
    padding: 2px;

}
.proj-cont p{
    color: rgb(161, 156, 156);
    width: 400px;
    
}
.proj-cont img{

    width: 100%;
    height: 200px;
    border-radius: 20px ;

}
.proj-cont button{
    padding: 8px;
    width: 100%;
    background-color: rgb(100, 255, 218);
    border-radius: 20px;
}

.proj-cont button:hover{

    cursor: pointer;
     
    
}
.Aero{

    display: flex;
    justify-content: space-around;
    margin-top: 5%;
   

}

.swal-title {
    margin: 0px;
    font-size: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
  }

.skill .c{
    height: 60px;
    width: 50px;
    right: 60px;
}

.skill li em { 
  position:relative; 
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:#dedede;
  top:-28px;
}

.blueline { 
  height: 3px; 
  margin: 2px 0; 
  width: 10%;
  background: teal; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(80, 214, 223, 0.4);
}
.greenline { 
  height: 3px; 
  margin: 2px 0; 
  background: teal; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(80, 214, 223, 0.4);
}
.redline { 
  height: 3px; 
  margin: 2px 0; 
  background: teal; 
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(80, 214, 223, 0.4);
}

.titulo      { opacity:1;  animation:titulo 5s ease-out;     }

/*programacion*/
.html        { width:90%;  animation:html 2s ease-out;       }
.css         { width:95%;  animation:css 2s ease-out;        }
.php         { width:70%;  animation:php 2s ease-out;        }
.javascript  { width:50%;  animation:javascript 2s ease-out; }
.jquery      { width:30%;  animation:jquery 2s ease-out;     }

/*plataformas*/
.wordpress   { width:80%;  animation:wordpress 2s ease-out;  }
.prestashop  { width:60%;  animation:prestashop 2s ease-out; }
.joomla      { width:40%;  animation:joomla 2s ease-out;     }
.blogger     { width:70%;  animation:blogger 2s ease-out;    }
.tridion      { width:60%;  animation:tridion 2s ease-out;     }

/*programas*/
.dreamweaver { width:90%;  animation:dreamweaver 2s ease-out;}
.illustrator { width:30%;  animation:illustrator 2s ease-out;}
.photoshop   { width:70%;  animation:photoshop 2s ease-out;  }
.premiere    { width:50%;  animation:premiere 2s ease-out;   }
.flash       { width:60%;  animation:flash 2s ease-out;      }


@keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }

/*programacion*/
@keyframes html        { 0% { width:0px; } 100% { width:90%; }  }
@keyframes css         { 0% { width:0px; } 100% { width:95%; }  }
@keyframes php         { 0% { width:0px; } 100% { width:70%; }  }
@keyframes javascript  { 0% { width:0px; } 100% { width:50%; }  }
@keyframes jquery      { 0% { width:0px; } 100% { width:30%; }  }

/*plataformas*/
@keyframes wordpress   { 0% { width:0px; } 100% { width:80%; }  }
@keyframes prestashop  { 0% { width:0px; } 100% { width:60%; }  }
@keyframes joomla      { 0% { width:0px; } 100% { width:40%; }  }
@keyframes blogger     { 0% { width:0px; } 100% { width:70%; }  }
@keyframes tridion      { 0% { width:0px; } 100% { width:60%; }  }

/*programas*/
@keyframes dreamweaver { 0% { width:0px; } 100% { width:90%; }  }
@keyframes illustrator { 0% { width:0px; } 100% { width:30%; }  }
@keyframes photoshop   { 0% { width:0px; } 100% { width:70%; }  }
@keyframes premiere    { 0% { width:0px; } 100% { width:50%; }  }
@keyframes flash       { 0% { width:0px; } 100% { width:60%; }  }

/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:1.8em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}

@media (max-width: 767px){
  h2 {font-size:1.8em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; }
}
@media (max-width: 480px){ 
  h2 {font-size:2.2em;}
  .col {width: 90%;}
}
.About-me .About-text h2 {
    color: #008080;

}

.About-me .About-text p {
    width: 80%;
    line-height: 200%;
}
.projects h1{
    text-align: center;
    color: teal;
}
.contact{
    margin-top: 10%;
}

.contact h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.contact .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon i{
    
    border: 2px black solid;
    border-radius: 20%;
    padding: 10px;
    margin-left: 20px;
    background-color: white
    
}

.contact .form-fields{
   
    width: 100%;
    

   
}
.form {
    border: 2px solid rgb(100, 255, 218);
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    display: block; /* corrected 'display' property */
    margin-bottom: 5%;
    padding: 20px;
}

.form button{
    padding: 10px;
    margin-top: 5%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(100, 255, 218);
    border-radius: 20px;
    color: black;
}
.form button:hover{
    cursor: pointer;
}
.icon-box{
    
        background-color: black
    
}
.icon{
    
    padding-bottom: 10px;
   
}
.icon-box h1{
    padding: 30px;
    color: rgb(100, 255, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 8px rgba(76, 204, 230, 0.6), 0 0 18px rgba(76, 204, 230, 0.4), 0 0 28px rgba(76, 204, 230, 0.2);
}


input{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    padding: 20px;
    background: none;
    border: 2px solid rgb(100, 255, 218);
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
}

 .Message{
    height: 200px ;
    width: 100%;
    margin-top: 10px;
    background: none;
    border: 2px solid rgb(100, 255, 218);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
}




/* Responsive styling */
@media screen and (max-width: 900px) {
    .links {
        display: none;
    }
    .header {
        align-items: normal;
    }

    .form{
        width: 75%;
    }

   
    .menu {
        display: block;
        margin-right: 10px;
        font-size: xx-large;
    }
    .menu i {
       margin-top: 25px;
        display: flex;
        justify-content: right;
    }
    .menu .menu-content {
        display: none;
        background-color: rgb(17 22 64);
        opacity: 0.8;
        z-index: 1;
        color: white;
        font-size: medium;
        position: absolute;
        top: 12%; 
        width: 100%;
        right: 0px;
        list-style: none;
        padding: 10px;
        border: 1px solid black;
        text-align: center;
    }
    .menu .menu-content li {
        padding: 10px;
        margin-left: 50px;
    }
    .menu .menu-content li a {
        color: white;
    }

    .hero{
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
        align-items: center;
        margin-right: 20px;
        justify-content: center;
        
    }
    .Aero{
        flex-direction: column;
        padding: 10px;
    }

    .proj-cont span{
       
    }
    .hero img{
        width: 200px;
        height: 200px;
    }
    .header p{
       
        margin-left: 20px;
    }
    
    .About-me{
        flex-direction: column;
        margin: 0;
        margin-top: 20%;
        width: 100%;
        align-items: center;
        margin-right: 20px;
        justify-content: center;
       
        
    }
    
    
    .About-me .About-text{
        margin-left: 20px;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .About-me .About-text h2 {
         font-size: xx-large;
    }
    .btns{
        margin-right: 4%;
    }
    .button{
        margin-left: 0;
        margin-top: 5%;
    }
        
    
    .hero img{
       
        border: 0px;
        margin-left: 10%;
        box-shadow: none;
    }
    .hero .text-content{
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        align-items: center;
        margin-left: 20px;
    }
    .text-content h1{
        font-size: larger;
    }
    
    .col{
        margin-left: 10px;
        width: 90%;
    }
    .container{
        margin-top: 18%;
        display: flex;
        flex-direction: column;
      
    }
    .Message{
        height: 100px;
       
    }
    

    .header i{
        left:0
    }

    .proj{
        flex-direction: column;
        padding-top: 5%;
    }
    .proj-cont{
        margin-top: 20px;
    }
    .proj-cont img{
        width: 100%;
     height: auto; /* Maintains the aspect ratio */
    }
    .proj-cont p{
        width: 100%;
    }
    .proj{
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .proj-cont span{
        margin-top: 2px;
    }

    
}

@media screen and (min-width: 700px) and (max-width: 900px) {

    .container {
        margin-top: 0;
    }
    
}
